.popover.calendar{
  max-width: 290px !important;
  width: 290px;
}

.popover.calendar .popover-content {
  padding:0!important;
}

.popover.date-picker {
  max-width: 290px !important;
}

@media print {
  body {
    background: white;
    font-size: 12pt;
  }
  .no-print { display: none !important; }
  .printable {display:block !important; }
  .page-break  { display:block; page-break-before:always; }
  table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }
  div.printable table.table-bordered, div.printable table.table-bordered>tbody>tr>td, div.printable table.table-bordered>thead>tr>th {
    border-color: #000 !important;
    border-width: 2px !important;;
    border-collapse: collapse !important;;
  }
}
