html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#root {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push {
  height: 60px;
}
#footer {
  height: 60px;
}
#footer {
  background-color: #f5f5f5;
}

.container .credit {
  margin: 20px 0;
  text-align: center;
}

.popover.calendar{
  max-width: 290px !important;
  width: 290px;
}

.popover.calendar .popover-content {
  padding:0!important;
}

.popover.date-picker {
  max-width: 290px !important;
}

.nowrap {
  white-space:nowrap;
}

.small-column {
  width: 100px;
  white-space: nowrap;
}

@media print {
  body {
    background: white;
    font-size: 12pt;
  }
  .no-print { display: none !important; }
  .printable {display:block !important; }
  .page-break  { display:block; page-break-before:always; }
  table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    page-break-inside: avoid;
    overflow: hidden;
    /*table-layout: fixed;*/
  }
  div.printable table.table-bordered, div.printable table.table-bordered>tbody>tr>td, div.printable table.table-bordered>thead>tr>th {
    border-color: #000 !important;
    border-width: 2px !important;;
    border-collapse: collapse !important;;
    word-break: break-all;
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
  }
  .col-sm-6, .col-md-6, .col-lg-6 {
    width: 50%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .col-sm-2, .col-md-2, .col-lg-2 {
    width: 16.666666%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .col-sm-3, .col-md-3, .col-lg-3 {
    width: 25%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .col-sm-4, .col-md-4, .col-lg-4 {
    width: 33.33333333%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .col-sm-12, .col-md-12, .col-lg-12 {
    width: 100%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .player-name {
    width: 200px;
    word-break: break-all;
    vertical-align: middle;
  }
  .small-player-name {
    width: 100px;
    word-break: break-all;
  }
}
